<div class="row">
  <div class="col-md-6">
    <h2 class="title sh-font-size-xlarge sh-color-primary sh-padding-container">
      Contact
    </h2>
  </div>
</div>
<div
  class="contact sh-flex-wrap sh-padding-container sh-display-flex sh-justify-content-spa mt-4 sh-justify-content-space-between"
>
  <div class="comercial-detail">
    <p
      class=" mt-5 sh-text-align-center sh-color-white sh-font-size-small font-bold"
    >
      Alejandra Vila
    </p>
    <img
      data-aos="fade-up"
      data-aos-offset="-100"
      src="../assets/img/Alejandra.png"
      alt=""
    />
    <ul class="mt-3">
      <li class="grow"><a>Phone Colombia: +57 1 5800427</a></li>
      <li class="grow">
        <a href="tel:+1407 2647110" class="sh-color-white"
          >Phone EE.UU: +1 (407) 2647110</a
        >
      </li>
      <li class="grow">
        <a href="tel:+57 312 432 3613" class="sh-color-white"
          >Cellphone: +57 312 432 3613</a
        >
      </li>
      <li class="grow">
        <a href="mailto:a.vila@shiptainer.com" class="sh-color-white"
          >Email: a.vila@shiptainer.com</a
        >
      </li>
    </ul>
  </div>
  <div class="comercial-detail l">
    <p
      class=" mt-5 sh-text-align-center sh-color-white sh-font-size-small font-bold"
    >
      Robert Patrick
    </p>
    <img
      data-aos="fade-up"
      class="imga"
      data-aos-offset="-100"
      src="../assets/img/Robert.png"
      alt=""
    />
    <ul class="mt-3">
      <li class="grow">
        <a href="tel:+1407 2647110" class="sh-color-white"
          >Phone EE.UU: +1 (407) 2647110</a
        >
      </li>
      <li class="grow">
        <a href="mailto:r.patrick@shiptainer.com" class="sh-color-white"
          >Email: r.patrick@shiptainer.com</a
        >
      </li>
    </ul>
  </div>
  <div class="comercial-detail l">
    <p
      class=" mt-5 sh-text-align-center sh-color-white sh-font-size-small font-bold"
    >
      Yang Seung
    </p>
    <img
      data-aos="fade-up"
      class="imga"
      data-aos-offset="-100"
      src="../assets/img/Yang.png"
      alt=""
    />
    <ul class="mt-3">
      <li class="grow">
        <a href="tel:+1407 2647110" class="sh-color-white"
          >Phone EE.UU: +1 (407) 2647110</a
        >
      </li>
      <li class="grow">
        <a href="mailto:y.seung@shiptainer.com" class="sh-color-white">
          Email: y.seung@shiptainer.com</a
        >
      </li>
    </ul>
  </div>
</div>
<div class="sh-padding-container">
  <h2 class="sh-font-size-xlarge sh-color-secondary sh-margin-top-medium">
    Our coverage
  </h2>
  <div class="mapa">
    <img class="dot dot-1" src="../../../assets/img/dot.png" alt="" />
    <div class="dot-card dot-card-1"></div>
    <img class="dot dot-2" src="../../../assets/img/dot.png" alt="" />
    <img class="dot dot-3" src="../../../assets/img/dot.png" alt="" />
    <img class="dot dot-4" src="../../../assets/img/dot.png" alt="" />
  </div>
</div>
<p
  class="sh-text-align-center sh-color-primary sh-font-size-small sh-margin-top-xlarge"
>
  HEADQUARTERS - 14409 VASHONS WAY WINTER GARDEN - FL 34787 <br />
  <a class="grow" href="tel:+1407 2647110" class="sh-color-grey"
    >TELEPHONE (+1) 407 2647110</a
  >
  -
  <a class="grow" href="mailto:y.seung@shiptainer.com" class="sh-color-grey"
    >INFO@SHIPTAINER.COM
  </a>
</p>
