
<footer>
  <div class="row container">
     <div class="col-12 col-md-3 redes">
       <div class="w">
          <img routerLink="home" src="assets/img/logo.png" alt="logo" class="logo sh-margin-right-small">
          <div>
              <p class="sh-margin">Fallow us on Facebook</p>
              <a href="https://www.facebook.com/shiptainer/" target="_blank">
                <i class="fab fa-facebook-square sh-color-primary fa-2x"></i>
              </a>
          </div>
       </div>
     </div>
     <div class="col-12 col-md-6">
      </div>
  </div>
  <br>
  <ul class="sh-text-align-center">
      <li routerLink="home" routerLinkActive="sh-color-black">HOME</li>
      <li routerLink="product-info" routerLinkActive="sh-color-black">TYPE OF CONTAINER</li>
      <li routerLink="contact" routerLinkActive="sh-color-black">CONTACT</li>
  </ul>
</footer>